*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --pretuncio: #313131;
  --carlos: #848484;
  --carlito: #999999;
  --baranco: #B2B2B2;
  --branco: #CCCCCC;
  --brancao: #E5E5E5;
  --bler: #4D69A6;
  --blertrans: rgba(77, 105, 166, 0.5);
  --sonic: #305FC5;
  --mephiles: #0A3B6C;
  --petroleo: #021B34;
  --verdura: #106348;
  --verde: #1FA57F;
  --grama: #58B23D;
  --va: #BEE15E;
  --espere: #E7C84D;
  --amareluncio: #BF9230;
  --pare: #C33E3E;
  --vermelhuncio: #A32D2D;
  --ash: rgba(255, 255, 255, 0.2);
  --botao: linear-gradient(180deg, #2d4e77 0%, #233d5c 100%);
  --font-inter: 'Inter', Arial, Helvetica, sans-serif;
  --font-abeezee: 'ABeeZee', Arial, Helvetica, sans-serif;
  --font-roboto: 'Roboto', Arial, Helvetica, sans-serif;
  --font-crimson: 'Crimson Text', Georgia, 'Times New Roman', serif;
  --font-roboto-cond: 'Roboto Condensed', Arial, Helvetica, sans-serif;
  --font-cormorant: 'Cormorant Garamond', Georgia, serif;
}

/* Reset and base styles */
body {
  background: var(--branco);
  /* justify-self: center;
  align-self: center; */
}

/* cabecario 1 */
.cabelo {
  height: 4vw;
  max-width: 100%;
  max-height: 50px;
  background-color: var(--mephiles);
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
}

        .piolho {
          width: 8vw;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          gap: 4vw;
          margin: 0 0 0 5%;
        }
        
                .loguinho {
                  display: flex;
                }

                .divisaocabelo {
                  color: var(--brancao);
                  width: 100%;
                  height: 100%;
                }
    
        .textcabelo {
          color: var(--baranco);
          font: var(--font-inter);
          font-style: normal;
          font-weight: 400;
        }
    
        .xcabelo {
          font-family: var(--font-crimson);
          font-weight: 200;
          font-size: 25px;
          display: flex;
          background: none;
          border: none;
          color: var(--brancao);
          margin: 0 5rem;
        }

/* cabecario 2*/
.cabecao {
  font-family: var(--font-inter);
  width: 100%;
  background: var(--brancao);
  color: var(--pretuncio);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5vw 3vw;
  margin: 0 auto;
  gap: 1vw;
  box-shadow: 0 0.5vw 16px var(--blertrans);
  position: relative;
  z-index: 10;
}

        .logo{
          display: flex;
          width: 3vw;
          justify-content: center;
          margin: 0 2rem;
        }

                .cabecao .logo img{
                  max-width: 8vw;
                  flex: 1;
                  margin: 0 0 0 20px;
                }
        
        .topnavegation {
          font-family: inherit;
          font-style: normal;
          font-weight: 400;          
          font-size: 1.5vw;
          color: inherit;
          text-decoration: none;
          white-space: normal;
          line-height: 150%;
          display: flex; 
          flex-shrink: 0;
          flex-direction: row;
          text-align: center;
          gap: 2 rem;
          padding: 0 1.5vw;
          margin: auto;
          transition: color 0.3s ease;
        }
        
                .topnavegation:hover {
                  color: var(--verde);
                }

        .perfil{
          display: flex; 
        }

                .cabecao .perfil img{
                  max-block-size: 4vw;
                  flex: -1;
                  margin: 0 2vw 0 0;
                }

/* banner*/
.banner {
  width: 100%;
  max-height: 50vw;
  aspect-ratio: 4/1; 
  position: relative;
  overflow: hidden;
}

        .bannerimg {
          position: absolute;
          inset: 0;
          width: 50%;
          height: 100%;
          object-fit: cover;
          object-position: left center;
          z-index: 1;
        }

        .banner1 {
          position: absolute;
          inset: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          z-index: 2;
          pointer-events: none; 
        }


/* noticias*/
.ngcontainer {
  width: 100%;
  padding: 2vw 0 3vw 0;
  background: var(--branco);
}

        .bloconot {
          display: flex;
          justify-content: center;
          gap: 2vw;
          flex-wrap: wrap;
          width: 90vw;
          margin: 0 auto;
        }

                .cardnot {
                  min-width: 250px;
                  min-height: 330px;
                  width: 25vw;
                  height: 35vw;
                  max-width: 30rem;
                  max-height: 35rem;
                  display: flex;
                  border: none;
                  flex-direction: column;
                  align-items: flex-start;
                  margin-bottom: 1.5vw;
                }

                        .cardnot .font{
                          display: flex;
                          align-items: center;
                          gap: 0.4vw;
                        }

                                .cardnot .font span {
                                  display: inline-block;
                                  width: 20px;
                                  justify-content: center;
                                  justify-self: center;
                                  font-size: 15px;
                                  background: none;
                                }

                                .cardnot .font p {
                                  font-family: var(--font-roboto);
                                  font-size: 1rem;
                                  color: var(--pretuncio);
                                  font-weight: 400;
                                  margin: 0.5vw;
                                }

                                .cardnot img {
                                  width: 100%;
                                  height: 280px;
                                  object-fit: cover;
                                  background: var(--carlito);
                                }

                        .cardnot .titulo {
                          font-family: var(--font-abeezee);
                          font-weight: 300;
                          font-size: 1.4rem;
                          text-transform: capitalize;
                          line-height: 125%;
                          color: var(--pretuncio);
                          margin: 0.5vw 0 0.5vw 0;
                          text-align: center;
                        }

                        .cardnot .desc {
                          font-family: var(--font-inter);
                          font-weight: 400;
                          font-size: 1.1rem;
                          line-height: 125%;
                          color: var(--pretuncio);
                          margin: 0.4vw 0 0.4vw;
                          text-align: left;
                          align-self: center;
                        }

                        .butt {
                          display: flex;
                          max-height: 30px;
                          min-width: 100px;
                          background: var(--botao);
                          color: var(--brancao);
                          font-family: var(--font-roboto);
                          font-size: 0.9rem;
                          font-weight: 400;
                          text-decoration: none;
                          justify-content:space-around;
                          align-items: center;
                          text-align: center;
                          padding: 0.5rem;
                          margin: 1.5vw 0 0 1vw;
                          border: none;
                          cursor: pointer;
                          letter-spacing: 0.04rem;
                          transition: background 0.18s, box-shadow 0.18s, transform 0.13s;
                        }
                
                        .butt span {
                          display: flex;
                          color: var(--brancao);
                          font-weight: 400;
                          font-size: 1.2rem;
                          transition: filter 0.2s;
                          align-items: center;
                          text-align: center;
                          padding-bottom: 2px;
                        }
                                .butt:hover {
                                  background: linear-gradient(180deg, #385d92 0%, #304c7a 100%);
                                  box-shadow: 0 6px 18px 0 rgba(40,70,130,0.24);
                                  transform: translateY(-2px) scale(1.03);
                                  outline: none;
                                }

                        



footer {
  color: var(--bler);
  background: linear-gradient(180deg, var(--branco) 0%, var(--mephiles) 100%);
  padding: 1.5vw 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.canela {
  background: var(--brancao);
  width: 98%;
  height: 9.5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 1vw 2vw;
  margin: 2vw 0 0 0;
}
        
        .gmail {
          font-family:var(--font-inter);
          color: inherit;
          text-decoration: none;
          font-size: 1.5vw;
          text-align: left;
          display: flex;
          flex: 1;
          padding: 0 0 0 2vw;
        }
                        
                .canlogo {
                  justify-content: center;
                  display: flex;
                  flex: 1;
                }
                
                        .canela .canlogo img{
                          max-width: 150px;
                          width: 40%;
                          flex: -1;
                          margin: 0.5vw 1vw;
                        }
                                
                .redes {
                  display: flex;
                  flex: 1;
                  justify-content: right;
                  gap: 0vw;
                }
        
                        .redesocial{
                          max-width: 50px;
                          width: 20%;
                          justify-content: center;
                          display: flex;
                          scale: 1;
                          object-fit: contain;
                          filter: grayscale(0%);
                          transition: filter 0.2s;
                        }
        
                                        .redesocial img:hover {
                                          filter: brightness(1.2);
                                        }
        
                .tornozelo {
                  background: var(--brancao);
                  width: 98%;
                  display: flex;
                  flex-direction: column;
                  align-items: space-around;
                  padding: 0vw 2vw 1vw 2vw;
                  box-sizing: border-box;
                }
                
                        .torntxt {
                          font-family:var(--font-inter);
                          font-size: 1.7vw;
                          text-align: center;
                          letter-spacing: 0.2px;
                          margin: 0 0 0.6vw 0;
                          padding: 0 0 2vw;
                          border-bottom: 2px solid var(--carlito);
                        }
                
                        .torntxt2 {
                          font-family:var(--font-inter);
                          font-size: 0.95vw;
                          align-self: center;
                          letter-spacing: 0.3px;
                          margin: 0.5vw 0 0 0;
                        }
